body {
    background-color: rgb(0, 0, 0);
    font-family: 'sans-serif';
    font-size: 21px;
    }
#timex{
  position:absolute;
  bottom:0;
  left:57%;
  padding: 14px;
      }
#chapter {
    background-color: rgb(224, 212, 139);
    width: 20%; 
    height: 100%;
    float:left;
    overflow: auto;
    direction: rtl;
    line-height: 80%;
    text-align: right;
    }
li{
    content: "+";
  padding-right: 5px;
      font-size: large;
      text-align: right;
      padding: 4px 1px;
      direction:rtl;
      list-style-type: circle;
    }
    li:hover {
      background: #b0c3d4;
  
  }
a:link  {
  color:black;
  text-decoration: none;
}
a:focus {
  background-color: black;
  outline: 3px solid orange;

}
a:visited {
  color: rgb(224, 212, 139);
  text-decoration: line-through;
}
iframe{
 position: fixed;
 width: 79vw;
 height: calc(77vw/1.77);
}
.bg { 
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
opacity: 0.1;
background-position: left;
z-index: -1;


-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-webkit-animation: myfirst 5s ;
animation: myfirst 5s ;
}
 /* Chrome, Safari, Opera */
 @-webkit-keyframes myfirst {
  from {opacity: 0;}
  to {opacity: 0.1;}
}

@keyframes myfirst {
  from {opacity: 0;}
  to {opacity: 0.1;}

  0% {
    background-size: 100%;
  }
  50% {
    background-size: 101%;
  }
  100% {
    background-size: 100%;
  }
}
